/*=====================================================================
  ヒーローイメージ に関する 配置や装飾等の指定
=====================================================================*/

/* hero クラスについての指定 */
.hero {
  grid-column: 1 / -1;      /* 左右の余白も使って配置します */
  grid-row: catch / span 2; /* catchとその次の行に配置します */
                            /* (二行を使って配置します) */
}

/* hero クラス内にあるimg要素についての指定 */
.hero img {
  height: 547px;      /* 写真の高さを指定します */
  object-fit: cover;  /* 写真の真ん中の部分を画面幅に応じて表示します */

}

/*---------------------------------------------------------------------
  画面の横幅が768px以上の時の追加指定
---------------------------------------------------------------------*/
@media (width >= 768px) {
  .hero {
    grid-row: catch;   /* catch行のみに配置します */
    margin-top: -20px; /* 上に少し詰めて配置します */
  }
}
